<!DOCTYPE html>
<html>

<head>
    <title>Reset password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    body {
        background-color: white;
        margin-top: 15%;
        margin-left: 40%;
        margin-right: 40%;
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }

    .button {
        margin-left: 12%;
        margin-top: 2%;
        margin-bottom: 2%;
        display: block;
        height: 60px;
        width: 75%;
        border-radius: 25px;
        outline: none;
        border: none;
        background-size: 100%;
        font-size: 1.2rem;
        color: #fff;
        cursor: pointer;
        transition: .5s;
        background-color: darkviolet;


    }

    @media screen and (max-width:1150px) {
        body {
            margin-left: 35%;
            margin-right: 35%;
            margin-top: 25%;
        }
    }

    @media screen and (max-width:950px) {
        body {
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 30%;
        }
    }

    @media screen and (max-width:750px) {
        body {
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 40%;
        }
    }

    @media screen and (max-width:550px) {
        body {
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 55%;
        }
    }

    @media screen and (max-width:350px) {
        body {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 85%;
        }
    }
</style>

<body>
    <div class="card">
        <br /><br /><br />


        <div class="container">
            <i class="	fa fa-window-close" style="color: red;margin-left: 47%;"></i>
            <p style="text-align: center;color: red;font-size: 18px;font-weight: bolder;">Invalid Link</p>
            <p style="text-align: center;">To reset tour password, go to the login page and select 'Forgot Password'
                option to get a new email.</p>
           <button class="button" type="button">Back to login</button>
            <br />
        </div>
    </div>
</body>

</html>