<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .button {
        background: green;
        color: white;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    body {
        background-color: white;
        margin-top: 20%;
        margin-left: 40%;
        margin-right: 40%;
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }

    @media screen and (max-width:1150px) {
        body {
            margin-left: 35%;
            margin-right: 35%;
            margin-top: 25%;
        }
    }

    @media screen and (max-width:950px) {
        body {
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 30%;
        }
    }

    @media screen and (max-width:750px) {
        body {
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 40%;
        }
    }

    @media screen and (max-width:550px) {
        body {
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 55%;
        }
    }

    @media screen and (max-width:350px) {
        body {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 85%;
        }
    }
</style>

<body>
    <div class="card">
        <br />
        <h3 style="text-align: center;">Reset your password</h3>
        <div class="container">
            <p style="color: green;font-weight: 600;"> <i class="fa fa-check-circle"
                    style="color: green;"></i>&nbsp;&nbsp; Password reset successfull!</p>
            <p> You have successfully reset the password for your account</p>
            <a href="http://localhost:3000/"><button class="button" type="button">OK</button></a>
            <br />
        </div>
    </div>
</body>

</html>